.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}

.works h2 {
  font-size: 40px;
  font-weight: 700;
  color: #00ff7f;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.works p {
  font-size: 20px;
  color: rgb(198, 198, 197);
  text-align: center;
  max-width: 700px;
}

.works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 170px;
}

.works-card {
  background: linear-gradient(145deg, #232b2b, #1a1a1a);
  border-radius: 16px;
  padding: 20px 20px;
  width: 350px;
  border: 1px solid #00ff7f;
  box-shadow: 0 0 20px rgba(0, 255, 127, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.works-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(0, 255, 127, 0.6);
}

.works-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(198, 198, 197);
  margin-bottom: 15px;
  text-align: center;
}

.works-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
} 


